body{
    background-color: rgb(18, 10, 10);
    align-items: center;
    
}
div {
      color: rgb(255, 255, 255);
      text-align: justify;
      align-items: right;
      margin-top: auto;
      height: 59px;
      border-radius: 2px;
      
    }
button{
    border-radius: 10px;
    width: 300px;
    text-align: center;
    background-color: transparent;
    height: 35px;
     margin-bottom: 15px;
     place-content: middle;
     color: white;

}
.profile-pic {
    padding-left: 0px;
    padding-right: 0px;
        border-radius:360px;
    height: 130px;
    width: 130px;
    border-width: 100px;

}
::placeholder{
    color: white;
}
.container{
    align-items: center;
    justify-content: center;
    padding: 500px;
    width: 3500px;
}
h1{
    text-align: justify;
    margin-right: 5px;
    padding-left: 30px;
}
h3{
    text-align: justify;
    margin-right: 5px;
    padding-left: 30px;
    color: aqua;
}
/*
h2{
    padding: 30px;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
