body{
   background-color:  hsl(0, 0%, 8%) ;
    align-items: center;
}
div {
      color: rgb(255, 255, 255);
      align-items: right;
      margin-top: auto;
      height: 59px;
      border-radius: 2px;
      padding:30%;
    }
    p{
        font-size: 16px;
        padding-left: 30px ;
  

    }
button{
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color:hsl(0, 0%, 20%);
    height: 35px;
     margin-bottom: 15px;
     place-content: middle;
     color: white;

}
.profile-pic {
    padding: 1.5cm;
    border-radius:360%;
    height: 130px;
    width: 130px;
    border-width: 100px;

}

h2{
    text-align:justify;
    margin-right: 5px;
    padding-left: 30px ;
}
h3{
    text-align: justify;
    margin-right: 5px;
    padding-left: 30px;
    color: hsl(75, 94%, 57%)
}
.container{
    background-color: hsl(0, 0%, 12%);
    height: auto;
    border-radius: 20px;
    display: inline-block;
    padding:30px;
   margin: auto;
   width: 350px;
    border: 1px solid grey;
}

